{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
    "babel",
    "promise"
  ],
  "env" : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false,
    "jest" : false
  },
  "rules" : {
    "brace-style"           : [2, "1tbs"],
    "comma-dangle"          : [2, "always-multiline"],
    "indent"                : ["error", 2, {"SwitchCase" : 1}],
    "jsx-quotes"            : [2, "prefer-single"],
    "key-spacing"           : 0,
    "max-len"               : [0, 120, 2],
    "no-unused-vars"        : [1, { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-var"              : 1,
    "object-curly-spacing"  : [2, "always"],
    "prefer-const": [1, {
        "destructuring": "any",
        "ignoreReadBeforeAssign": true
    }],
    "semi"                  : [2, "never"],
    "space-in-parens"       : ["error", "never"]
  }
}